<div class="row">
    <div class="col-12 text-end d-flex justify-content-md-end justify-content-center">
        {% if  program.isActived  and is_granted('ROLE_MANAGER') %}
            <div class="row button-group">
                <a href="{{ path('app_program_person_add', {'id': program.id }) }}" title="nuevo">                
                    <button type="button" class="justify-content-center w-100 btn btn-rounded btn-info d-flex align-items-center">                      
                        <i data-feather="plus" class="feather-sm fill-white me-2"></i>Asociar una persona
                    </button>   
                </a>                 
            </div>
        {% endif %}            
    </div>
</div>
<div class="table-responsive table-responsive-document">
    <table id="datatable-people" class="table display table-bordered table-striped no-wrap">
        <thead>
            <tr>
                <th>NIF</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Adicción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if program.people is defined  and program.people|length > 0 %}
                {% for person in program.people %}
                    <tr>
                        <td>{{ person.person.nif }}</td>
                        <td>{{ person.person.name }}</td>
                        <td>{{ person.person.lastname }}</td>
                        <td>{{ person.person.drug.name }}</td>
                        <td>
                            <div class="action-btn">                                                                                         
                                 <a href="{{ path('app_person_program_timetable_list', {'id': person.id }) }}" class="text-info view" title="Ver registros">
                                    <i data-feather="clock" class="feather-sm fill-white"></i>
                                </a>                                
                                {% if program.isActived and not is_granted('ROLE_CONSULTANT') %}
                                    <a href="{{ path('app_person_program_edit', {'id': person.id }) }}" class="text-primary edit">
                                        <i data-feather="edit" class="feather-sm fill-white"></i>
                                    </a>  
                                    <a href="{{ path('app_person_program_remove', {'id': person.id }) }}" class="text-dark delete ms-2">
                                        <i data-feather="trash-2" class="feather-sm fill-white"></i>
                                    </a>   
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No existen personas beneficiarias para este programa</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>