{% extends 'app.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block content %}
 <div class="row page-titles">
    <div class="col-md-7 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">Perfil</h3>
    </div>
    <div class="col-md-5 col-12 align-self-center">
        <div class="d-flex mt-2 justify-content-end">
            <div class="d-flex me-3 ms-2">
            </div>
        </div>
    </div>
 </div>

 <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-info">
                  <h4 class="mb-0 text-white">Su perfil</h4>
                </div>

                <form class="form-horizontal">
                  <div class="form-body">
                    <div class="card-body">
                      <h4 class="card-title mb-0">Información</h4>
                    </div>
                    <div class="card-body border-top">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row py-3">
                            <label class="control-label text-end col-md-4 font-weight-medium">Nombre:</label>
                            <div class="col-md-8">
                              <p class="form-control-static">{{ user.name }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row py-3">
                            <label class="control-label text-end col-md-4 font-weight-medium">Apellidos:</label>
                            <div class="col-md-8">
                              <p class="form-control-static">{{ user.lastname }}</p>
                            </div>
                          </div>
                        </div>
                      </div>                      
                      <div class="row">
                        {% if user.headquarter is not null %}
                          <div class="col-md-6">
                            <div class="form-group row py-3">
                              <label class="control-label text-end col-md-4 font-weight-medium">Sede:</label>
                              <div class="col-md-8">
                                <p class="form-control-static">{{ user.headquarter }}</p>
                              </div>
                            </div>
                          </div>
                        {% endif %}                        
                        <div class="col-md-6">
                          <div class="form-group row py-3">
                            <label class="control-label text-end col-md-4 font-weight-medium">Email:</label>
                            <div class="col-md-8">
                              <p class="form-control-static">{{ user.email }}</p>
                            </div>
                          </div>
                        </div>
                        <!--/span-->
                      </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-offset-3 col-md-9">
                                <!--button type="submit" class="btn btn-danger">
                                  <i class="fa fa-pencil"></i> Edit
                                </button-->
                                <a href="{{ path('app_dashboard') }}"><button type="button" class="btn btn-dark">
                                  Volver
                                </button></a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
